<div class="main">
    <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
        <label class="btn"><p>Buy</p>
            <input type="radio" value="buy" formControlName="listing_type"/>
        </label>  
        <label class="btn"><p>Rent</p>
            <input type="radio" value="rent" formControlName="listing_type"/>
        </label>         
            <input  type="text"  formControlName="place_name" /> 
        <button class="btn">List</button>
    </form>
    <applist [list]= "list" *ngIf="load" [load]="load">
    </applist>
</div>  
