.main{
    margin-top: 20px;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	justify-content:center;
	margin:auto;
}
input[type="text"]{
	height: 30px;
	margin-top:1px; 
}

input[type="radio"]{
	display: none;
	color: grey;
}
form{
	margin: 40px 0;
	display: flex;
	flex-flow: row;
	justify-content:center;
	height: 38px;
}
.btn {
	display:flex;
	justify-content:center;
	color:white;
	font-size: 16px;
	font-weight: 500;
	width: 60px;
	text-decoration: none;
	padding: 2px;
    background: #0073d9;
	border: 1px solid #dbdbdb;
	cursor: pointer;
	transition: 0.2s;
} 
.btn:hover { 
	background:  #3f94dd;
}
.btn:active {
	background:  #025299;
}
button{
	height: 38px;
	border:none;
}
label p{
	margin-top:8px;
}